<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 .col-lg-offset-4">
              <center><img src="/assets/img/opentire_circle_143.png" alt="" align="center"></center>
            </div>
            <div class="col-lg-9">


              <div class="row">
              <h2><b>OpenTIRE</b> is an open-source mathematical tire model library for tire and vehicle research and development.</h2>
              </div>

            </div>

        </div>
        <div class="row centered">

        </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
